

.wd-topic{
    font-size: 13px;
    color: rgb(110, 118, 125);
}

li.post{
    font-size: 13px;
    font-weight: bold !important;
}

div.container{
    border: black;
}

.wd-post-topic{
    font-size: medium;
    font-weight: bold !important;
}

.wd-display-pic {
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    float: left !important;
}


.ul.li.nav-tabs.wd-active {
    border-bottom-color: dodgerblue;
}

.wd-info {
    color: darkgray;
}

.card#post {
    border-width: thin;
    border-color: lightsteelblue;
    border-radius: 12px;
}

.fa_red {
    color: red
}